out/
target/
!.mvn/wrapper/maven-wrapper.jar


##### MAYBE #####

#  ### STS ###
#  .apt_generated
#  .classpath
#  .factorypath
#  .project
#  .settings
#  .springBeans
#
#  ### IntelliJ IDEA ###
#  .idea
#  *.iws
#  *.iml
#  *.ipr
#
#  ### NetBeans ###
#  nbproject/private/
#  build/
#  nbbuild/
#  dist/
#  nbdist/
#  .nb-gradle/
/noteBase.mv.db
/noteBase.trace.db
/.idea/dataSources/b3d70698-9867-44a0-9e30-5cadc04e5638/storage_v2/_src_/database/NOTEBASE.w13qjA.meta
